{% extends "base.html.twig" %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>All categories : </h1>
    {% for category in categories %}
        <div>
            <h2><a href="{{ path('categories_show', { category.name }) }}" {{ loop.index }} / {{ category.name }}</h2>
        </div>
    {% else %}
        no category to display.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Home
    </a>
{% endblock %}